body {
  font-family: Arial, Helvetica, sans-serif !important;
  margin: 0 !important;
}

html {
  box-sizing: border-box !important;
}

.menu_active{
  font-weight: bold  !important;
  border-bottom: 2px solid #990011FF  !important;
}
.navbar-brand{
  font-size: 2.9rem !important;
  color: rgb(0, 147, 245) !important;
}
.nav-link{
  color:#00539CFF !important;
  text-transform: capitalize !important;
  padding: auto  !important;
}
.navbar a:hover{
  color: rgb(8, 255, 28) !important;
}
.brand-name{
  font-weight: bold  !important;
  color: #52e226f1 !important;
}
#header h1{
margin: 0 0 10px 0 !important;
font-size: 34px !important;
font-weight: 400 !important;
margin-left: 2rem!important;
margin-top: 1rem!important;

color: rgb(73, 138, 243)  !important;

}
#header h2{
  font-size: 28px !important;

  color: rgb(67, 99, 116) !important;
  font-weight: 400 !important;
  margin-left: 2rem!important;
}
#header .btn-get-started{
font-weight: 500  !important;
font-size: 12px  !important;
letter-spacing: 1px  !important;
margin-left: 2rem!important;
display: inline-block  !important;
padding: 10px 25px  !important;
border-radius: 50px  !important;
transition: 0.3s  !important;
color: rgb(34, 34, 34)  !important;
border: 2px solid blue  !important;
text-decoration: none  !important;
}
#header .btn-get-started:hover{
  background: rgb(148, 233, 10) !important;
  color: rgb(231, 29, 29)  !important;
}
@-webkit-keyframes up-down {
  0%{
    transform: translateY(10px) !important;

  }
  100% {
    transform: translateY(-10px) !important;
  }
}
@keyframes up-down {
  0%{
    transform: translateY(10px) !important;

  }
  100% {
    transform: translateY(-10px) !important;
  }
}
body{
  background-color:rgb(255, 255, 255) !important;
}
#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse-both  !important;
}
.card-img-top{
  size: 100px !important;
}
.text-center{
  font-weight: bold  !important;
  color: #00539CFF  !important;
}
.text-center:hover{
  color:  rgb(8, 255, 28)!important;
}
.card{
  align-self:auto !important;
width: 15rem !important;
height: auto !important;}

.btn-get-started1{
  font-weight: 500  !important;
  font-size: 12px  !important;
  position: relative center !important;
  margin-bottom: 3rem  !important;
  letter-spacing: 1px  !important;
  display: inline-block  !important;
  padding: 10px 25px  !important;
  border-radius: 50px  !important;
  transition: 0.3s  !important;
  color: rgb(16, 179, 243)  !important;
  border: 2px solid blue  !important;
  text-decoration: none  !important;
  }
  .btn-get-started1:hover{
    background: rgb(148, 233, 10) !important;
    color: rgb(231, 29, 29)  !important;
  }
  #formnew{
    background-color: transparent !important;
  }
#exampleFormControlTextarea1{
  background-color: transparent !important;
}
#exampleFormControlInput1{
  background-color: transparent !important;
}
.form-label{
  color: rgb(22, 136, 236)  !important;
}
.card{
  background-color: transparent !important;
}
.card-text{
  color: rgb(67, 94, 117)  !important;
}
.card-title{
  color: rgb(30, 160, 235)  !important;
  font-weight: bold  !important;
}
.card-img-top{
  width:15rem !important;
  height: 15rem !important;
}
.mt-2{
  color:rgb(8, 146, 238)   !important;
  padding: auto !important;
}
#new{
  margin-left: 2.5rem!important;
  margin-top: 1rem!important;
}
.navbar-toggler{
  outline:none !important;
  outline-style: none !important;
  margin-top: 4px !important;
}

